*{
  margin: 0;
  padding: 0;
}

.mobile-nav{
  left : 3000px;
}
.show-mobilenav{
  left: 0;
}


.active{
  color: red;
}

.error, .success{
  position: fixed;
  top: 0;
  left: 3000px;
}
.show-error, .show-success{
  left: 20px;
}















@media (max-width:768px) {
  #bg{
      width: 40%;
  }
}
@media (max-width: 1024px) {
    .side-nav{
      display: none;
    }
    .mobile-nav{
      display: block;
    }
  }

  @media (max-width:1040px){
    #action-buttons{
        gap: 8px;
    }
}
@media (max-width:1024px) {
    #hamburger{
        display: flex;
    }
    #action-buttons{
        gap: 15px;
    }
    .back{
        display: none;
    }
}